body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 237, 255) !important;
    height: 100vh;
}

.nav-bar {
    background-color: rgb(23, 60, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    position: relative;
}

.nav-bar a {
    color: white;
    font-size: 28px;
    font-family: Rubik;
    text-decoration: none;
    width: 150px;
    text-align: center;
    border-left: 10px solid rgba(255, 255, 255, 0);
}

.nav-bar :hover {
    border-left: 10px solid white;
}

.parrent-container {
    display: flex;
    height: 600px;
    width: 850px;
    position: relative;
}

.questions-parrent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    width: 700px;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: rgba(214, 214, 214, 0.5);
    margin-left: 5px;
    font-family: rubik;
    font-size: 25px;
    font-weight: bold;
    border-radius: 3px;
}

.logo {
    position: absolute;
    height: 90px;
    top: 50px;
}

.progress {
    position: absolute;
    top: 0;
    
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.wrong-answer-letter {
    background-color: rgb(168, 0, 0);
    color: rgb(255, 255, 255) !important;
}

.right-answer-letter {
    background: rgba(23, 170, 72, 0.9);
    color: rgb(255, 255, 255) !important;
}

.answer-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: white;
    border-radius: 3px;
}

.answer-button:hover {
    background-color: rgb(238, 240, 221);
}

.btn-previous {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: absolute;
    bottom: 15px;
    left: 190px;
    background-color: rgb(219, 223, 244);
    border: none !important;
    text-align: center;
    font-family: rubik;
    font-weight: bold;
    font-size: 30px;
}

.btn-previous:hover {
    background-color: rgb(151, 156, 241);
}

.btn-next {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: absolute;
    bottom: 15px;
    right: 40px;
    background-color: rgb(219, 223, 244);
    border: none !important;
    text-align: center;
    font-family: rubik;
    font-weight: bold;
    font-size: 30px;
}

.btn-next:hover {
    background-color: rgb(151, 156, 241);
}

.question-number {
    position: absolute;
    bottom: 30px;
    font-family: rubik;
    font-size: 25px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 50px;
    position: absolute;
    top: 40px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.answer {
    width: 380px;
    font-family: rubik;
    font-size: 24px;
}

.bg-danger,
.bg-success {
    border: 2px solid rgb(63, 63, 63);
}

.results-parrent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    width: 700px;
}

.results-container {
    background-color: rgb(247, 213, 187);
    width: 550px;
    height: 550px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-screen-logo {
    height: 240px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.result-screen-title {
    font-family: rubik;
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 20px;
}

.score-title {
    font-family: rubik;
    font-weight: bold;
    font-size: 28px;
    padding-right: 20px;
    
}

.score{
    font-family: rubik;
    font-weight: bold;
    font-size: 28px;
    padding-left: 20px;
    color: rgb(23, 60, 232);
    
}
.share-btn{
    background-color: rgb(255, 78, 15);
    width: 160px;
    height: 40px;
    color: white;
    font-family: rubik;
    font-weight: 50;
    font-size: 25px;
    border-radius: 8px;
    border: none !important;
    margin-top:20px;
}
.replay-btn{

    font-family: rubik;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none !important;
    margin-top: 10px;
    color: rgb(255, 78, 15);
}